@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 20px auto 0 auto;
}

.filter {
  width: 300px;
  background-color: lightgray;
  padding: 20px;
  font-size: 18px;
  margin-left: 20px;
}

.filter-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.filter-name {
  margin-left: 4px;
}

.filter-input {
  border: none;
  height: 24px;
  margin-bottom: 8px;
  padding-left: 14px;
}

.posts {
  list-style: none;
  margin: 10px 0;
  width: 80%;
}

.post {
  position: relative;
  background-color: #e0edfd;
  border: 1px solid lightskyblue;
  padding: 10px 20px 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.post .post-content {
  margin-left: 10px;
}

.post .post-content .post-name {
  color: gray;
  margin-bottom: 20px;
  font-size: 18px;
}

.post .post-content .post-title {
  font-size: 28px;
  margin-bottom: 14px;
}

.post .post-content .post-body {
  font-size: 22px;
}

.post .comment-open {
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  width: 200px;
  color: #00a2ff;
  font-size: 18px;
}

.comments {
  list-style: none;
  width: 90%;
  margin: -20px auto 80px auto;
  position: relative;
}

.comments .comment {
  background-color: #e0edfd;
  border-left: 1px solid lightskyblue;
  border-right: 1px solid lightskyblue;
  border-bottom: 1px solid lightskyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 20px;
}

.comments .comment .comment-content {
  margin-left: 10px;
}

.comments .comment .comment-content .comment-name {
  font-size: 28px;
  margin-bottom: 14px;
}

.comments .comment .comment-content .comment-name:after {
  content: ' промурчал';
  white-space: normal;
  font-size: 18px;
  color: gray;
}

.comments .comment .comment-content .comment-body {
  font-size: 1em;
}

.comments .comment-close {
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  background-color: #e0edfd;
  width: 200px;
  color: #00a2ff;
  font-size: 18px;
  padding: 4px;
}

@media screen and (max-width: 721px) {
  .container {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .filter {
    margin: 0 auto;
    width: 340px;
  }
  .posts {
    width: 100%;
  }
  .post {
    min-height: 440px;
  }
  .post .post-content .post-name {
    margin-bottom: 10px;
  }
  .post .post-content .post-title {
    font-size: 26px;
  }
  .post .post-content .post-body {
    position: absolute;
    width: 90%;
    top: 54%;
    left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */