*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    list-style: none;
    width: 1140px;
    margin: 30px auto 0 auto;
}
.filters{
    position: fixed;
    top: 10px;
    right: 40px;
    width: 300px;
    height: 100vh;
    background-color: lightgray;
    padding: 20px;
}
.post{
    position: relative;
    background-color: #e0edfd;
    border: 1px solid lightskyblue;
    padding: 10px 20px 60px 20px;
    margin: 20px 0;
    display: flex;
    .post-content{
        margin-left: 10px;
        .post-name{
            color: gray;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .post-title{
            font-size: 28px;
            margin-bottom: 14px;
        }
        .post-body{
            font-size: 22px;
        }
    }
    .comment-open{
        position: absolute;
        bottom: 20px;
        right: 20px;
        outline: none;
        border: none;
        background-color: transparent;
        width: 200px;
        color: #00a2ff;
        font-size: 18px;
    }
}
.comments{
    list-style: none;
    width: 90%;
    margin: -20px auto 80px auto;
    position: relative;
    .comment{
        background-color: #e0edfd;
        border-left: 1px solid lightskyblue;
        border-right: 1px solid lightskyblue;
        border-bottom: 1px solid lightskyblue;
        display: flex;
        padding: 10px 20px;
        .comment-content{
            margin-left: 10px;
            .comment-name{
                font-size: 28px;
                margin-bottom: 14px;
                &:after{
                    content: ' промурчал';
                    white-space: normal;
                    font-size: 18px;
                    color: gray;
                }
            }
            .comment-body{
                font-size: 22px;
            }
        }
    }
    .comment-close{
        position: absolute;
        right: 0;
        outline: none;
        border: none;
        background-color: #e0edfd;
        width: 200px;
        color: #00a2ff;
        font-size: 18px;
        padding: 4px;
    }

}